pyTelegramBotAPI
python-telegram-bot
psutil
requests
Flask
gunicorn
qrcode
Pillow
cryptography
protobuf
httpx
google
pycryptodome
PyJWT
urllib3
protobuf-decoder
pytz
aiohttp
cfonts
Flask-SocketIO
eventlet
python-dotenv
tgcrypto
pyarmor
mg24_proto
python-telegram-bot>=20.0
