Flask==3.0.0
Flask-SocketIO
flask_cors
gunicorn
requests
httpx
aiohttp
urllib3
psutil
pytz
PyJWT
pycryptodome
cryptography
protobuf
protobuf-decoder
google
google_play_scraper
python-telegram-bot==20.7
python-telegram-bot[job-queue]>=20.0
pyTelegramBotAPI
telebot
aiogram
cachetools
qrcode
Pillow
cfonts
colorama
rich
loguru
py7zr
eventlet
python-dotenv
tgcrypto
pyarmor
mg24_proto